VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a39ed84003504b380f9
VITE_APPWRITE_BUCKET_ID=warm-desk-garden-files
VITE_APPWRITE_API_FUNCTION_ID=warm-desk-garden-api
