APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a39ed84003504b380f9
APPWRITE_API_KEY=
APPWRITE_BUCKET_ID=warm-desk-garden-files
MONGODB_URI=
MONGODB_DB_NAME=warm_desk_garden
APPWRITE_EMAIL_TOPIC_ID=
